<ion-header class="ion-no-border">
  <ion-toolbar color="#FFB800">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <p style="color: #fff; text-align: right; font-size: 24px;">bico</p>
  </ion-toolbar>
  
  <div class="header-content">
    <img src="https://png.pngtree.com/png-vector/20190321/ourmid/pngtree-vector-users-icon-png-image_856952.jpg" alt="">
  </div>

  <div class="cardInfo">
    <ion-card>
      <ion-card-content style="padding:5px">
        <p style="font-size: 12px; text-align: center;">1,8 km</p>
        <p style="font-size: 12px; text-align: center;">JUSSARA FÉLIX</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-header>


<ion-content style="top: 120px;">
  <div class="main_content_div" style="top: 20px">
    <div class="lower_div">
      <span *ngFor="let msg of messages">
        <div class="main_div_right" *ngIf="msg.side == 'right'">
          <div class="msg_div">
            <div class="inner_msg">
              {{msg.msg}}
            </div>
          </div>
          <div class="tri_right"></div>
        </div>

        <div class="main_div_left" *ngIf="msg.side == 'left'">
          <div class="msg_div">
            <div class="inner_msg">
              {{msg.msg}}
            </div>
          </div>
          <div class="tri_left"></div>
        </div>
      </span>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="#FFB800">
    <div class="footer_div">
      <ion-input type="text" placeholder="Digite uma mensagem"></ion-input>
      <ion-icon class="send_btn" (click)="enviarMsg()" name="send-sharp"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>