
<ion-content >
  <h3 class="logo">bico</h3>

    <div class="form_div">
      <p style="font-size: 14px; text-align: center;">Qual o seu nome completo?</p>
      <ion-input type="text"></ion-input>
      <p style="font-size: 14px; text-align: center;">Qual é o seu número de celular?</p>
      <ion-input type="number" ></ion-input>
      <p style="font-size: 14px; text-align: center;">Qual é a sua data de nascimento?</p>
      <ion-input type="text" ></ion-input>

      <ion-button class="login_btn" expand="block" color="primary" >Continuar</ion-button>

    </div>
 
</ion-content>
