<ion-header class="ion-no-border">
  <ion-toolbar color="#FFB800">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <p style="color: #fff; text-align: right; font-size: 24px;">bico</p>
  </ion-toolbar>
  
  <div class="header-content">
    <img src="https://png.pngtree.com/png-vector/20190321/ourmid/pngtree-vector-users-icon-png-image_856952.jpg" alt="">
  </div>
  
</ion-header>

<ion-content >

  <div style="padding-top: 200px;">
    <p style="text-align: center; font-size: 18px;">JUSSARA FÉLIX</p>
    <p style="text-align: center; font-size: 14px;">Bombeiro Hidráulico</p>
    <p style="text-align: center; font-size: 14px;">15 clientes atendidos • 11 avaliaçoes</p>
    <p style="text-align: center; font-size: 14px; color: #988989;">Desde 23 de dezembro de 2019</p>
  </div>
  <div>
    <ion-button class="btContratar" color="primary" (click)="contratar()"> Contratar </ion-button>
  </div>
  <div style="padding-top: 100px;">
    <p style="text-align: center; font-size: 14px;">DEPOIMENTOS</p>
  </div>  

  <div class="listaResultados">
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <img src="https://png.pngtree.com/png-vector/20190321/ourmid/pngtree-vector-users-icon-png-image_856952.jpg"
            alt="">
          <ion-label> Maria AParecida <br>
                      <p style="color: #988989; font-size: 10px;">Cliente desde 11 de janeiro de 2019</p> <br>
                      <p style=" color:black; font-size: 10px;"> “Gostei muito do serviço realizado” </p> </ion-label>
        </ion-item>
      </ion-item-sliding>

    </ion-list>
  </div>

</ion-content>
