
<ion-content >
  <h3 class="logo">bico</h3>

    <div class="form_div">
      <p style="text-align: center; font-size: 18px;">LOGIN</p>
      <p style="font-size: 14px; text-align: center;">Qual é o seu número de celular?</p>
      <ion-input type="tel" ></ion-input>
      <p style="font-size: 14px; text-align: center;">Qual é a sua senha?</p>
      <ion-input type="password" ></ion-input>

      <ion-button class="login_btn" expand="block" color="primary" (click)="buscarServico()" >Continuar</ion-button>

      <p style="padding-top: 40px; text-align: center; font-size: 14px; color: #FFB800;">Esqueci minha senha!</p>
    </div>
 
</ion-content>
